// Color support for .navbar-dark
#mainNav.navbar-dark {
  .navbar-collapse {
    .navbar-sidenav {
      .nav-link-collapse:after {
        color: $gray-600;
      }
      > .nav-item {
        > .nav-link {
          color: $cadet-slate-white;
          font-family: $side-dashboard-font;
          &:hover {
            color: $gray-500;
          }
        }
        .sidenav-second-level,
        .sidenav-third-level {
          color: inherit;
          font-family: $side-dashboard-font;
          > li > a {
            color: $gray-600;
            background: inherit;
            &:focus,
            &:hover {
              color: $gray-500;
            }
          }
        }
      }
    }
    .navbar-nav > .nav-item.dropdown > .nav-link:after {
      color: $gray-500;
    }
  }
  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-sidenav {
        background: $gray-800;
        li {
          &.active {
            a {
              color: white !important;
              background-color: $gray-700;
              &:focus,
              &:hover {
                color: white;
              }
            }
          }
        }
        > .nav-item {
          .sidenav-second-level,
          .sidenav-third-level {
            background: $gray-800;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 991px) {
    .navbar-collapse {
      .navbar-sidenav {
        > .nav-item {
          > .nav-link {
            background: $cadet-blue;
            color: $cadet-slate-white;
            padding-left: 1rem;
            &:hover {
              color: $gray-500;
            }
          }
          .sidenav-second-level,
          .sidenav-third-level {
            color: $cadet-slate-white;
            font-family: $side-dashboard-font;
            > li > a {
              color: $gray-600;
              background: $cadet-light-grey;
              &:focus,
              &:hover {
                color: $gray-500;
              }
            }
          }
        }
      }
    }
  }
}
