// Global styling for this template
html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: $body-font, sans-serif;
}

body.sticky-footer {
  margin-bottom: 56px;
  .content-wrapper {
    min-height: calc(100vh - 56px - 56px);
  }
}
body.fixed-nav {
  padding-top: 56px;

}

.navbar {
  background: $cadet-slate-white !important;
}

nav {
  #mainNav {
    .navbar-brand {
      font-family: 'quandon';
      color: $cadet-blue;
    }
    a {
      color: $cadet-blue;
    }
    .navbar {
      &.navbar-expand-lg {
        &.navbar-dark {
          .nav-link {
            color: $cadet-blue;
          }
          &.fixed-top {
            background: $cadet-slate-white;
            color: $cadet-blue;
          }
        }
      }
    }
  }
}

.fixed-top {
  background: $cadet-slate-white;
}

.bg-dark {
  background-color: $cadet-slate-white !important;
}

.bg-container {
    background: url(https://preview.ibb.co/dmTvcb/blue_green_banner.jpg)
    no-repeat center center;
    background-size: cover;
}

.content-wrapper {
  min-height: calc(200vh - 56px);
  padding-top: 1rem;
  background: transparent;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.breadcrumb {
    background-color: inherit;
    color: $cadet-slate-white;
}
