# File to ignore when pushing to repo  
condenv/*
cadetenv/*
media/*
env2/*
.DS_Store
cadetapp/__pycache__/*
cadetapp/dashboard/__pycache__/*
cadetapp/cadetapp/__pycache__/*
cadetapp/node_modules/*
db.sqlite3
*.pyc





