/* --- Fonts --- */
@font-face {
  font-family: "quadon";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Quadon-Bold.eot?") format("eot"), url("../fonts/Quadon-Bold.woff2") format("woff2"), url("../fonts/Quadon-Bold.woff") format("woff"), url("../fonts/Quadon-Bold.ttf") format("truetype"), url("../fonts/Quadon-Bold.svg#quadon") format("svg"); }

@font-face {
  font-family: "gentona-book";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gentona-Book.eot?") format("eot"), url("../fonts/Gentona-Book.woff2") format("woff2"), url("../fonts/Gentona-Book.woff") format("woff"), url("../fonts/Gentona-Book.ttf") format("truetype"), url("../fonts/Gentona-Book.svg#gentona-book") format("svg"); }

@font-face {
  font-family: "gentona-medium";
  font-style: normal;
  font-weight: 500;
  src: url("../Gentona-Medium.eot?") format("eot"), url("../Gentona-Medium.woff2") format("woff2"), url("../Gentona-Medium.woff") format("woff"), url("../Gentona-Medium.ttf") format("truetype"), url("../Gentona-Medium.svg#gentona-medium") format("svg"); }

@font-face {
  font-family: "gentona-bold";
  font-style: normal;
  font-weight: bold;
  src: url("../Gentona-Bold.eot?") format("eot"), url("../Gentona-Bold.woff2") format("woff2"), url("../Gentona-Bold.woff") format("woff"), url("../Gentona-Bold.ttf") format("truetype"), url("../Gentona-Bold.svg#gentona-bold") format("svg"); }

@font-face {
  font-family: "titling";
  font-style: normal;
  font-weight: 500;
  src: url("../Titling-Gothic-Medium.eot?") format("eot"), url("../Titling-Gothic-Medium.woff2") format("woff2"), url("../Titling-Gothic-Medium.woff") format("woff"), url("../Titling-Gothic-Medium.ttf") format("truetype"), url("../Titling-Gothic-Medium.svg#titling") format("svg"); }

html {
  font-size: 1em;
  position: relative;
  min-height: 100%; }

body {
  background-color: white;
  font-family: "titling", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #2C2C33;
  overflow-x: hidden; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 1.602em; }

h2 {
  font-size: 1.424em; }

h3 {
  font-size: 1.266em; }

h4 {
  font-size: 1.125em; }

small, .font_small {
  font-size: 0.889em; }

body.sticky-footer {
  margin-bottom: 56px; }
  body.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - 56px); }

body.fixed-nav {
  padding-top: 56px; }

h1.main-heading {
  color: #dee2e6;
  font-family: "gentona-medium", sans-serif; }

.navbar {
  background: #F9F9F9 !important; }

nav .navbar-toggler {
  padding: .25rem .75rem;
  margin-right: 1.25rem;
  background: rgba(0, 94, 184, 0.7);
  border: 0px;
  border-radius: 0px; }

nav #mainNav .navbar-brand {
  font-family: 'quandon';
  color: #005EB8;
  width: 300px; }

nav #mainNav a {
  color: #005EB8; }

nav #mainNav .navbar.navbar-expand-lg.navbar-dark .nav-link {
  color: #005EB8; }

nav #mainNav .navbar.navbar-expand-lg.navbar-dark.fixed-top {
  background: #F9F9F9;
  color: #005EB8; }

.fixed-top {
  background: #F9F9F9; }

.bg-dark {
  background-color: #F9F9F9 !important; }

.bg-container {
  background: url("../img/cadet-bg.jpg") no-repeat;
  background-image: url("../img/cadet-bg.jpg") no-repeat;
  background-size: cover; }

.content-wrapper {
  min-height: calc(200vh - 56px);
  padding-top: 1rem;
  background: transparent; }

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px; }
  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white; }
  .scroll-to-top:hover {
    background: #343a40; }
  .scroll-to-top i {
    font-weight: 800; }

.breadcrumb {
  background-color: inherit;
  color: #F9F9F9; }

.dashboard-home-container {
  background: rgba(255, 255, 255, 0.65); }

.jumbotron {
  padding: 0.015rem 1rem;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 2px;
  margin-top: -20px; }

.options-container {
  background: rgba(255, 255, 255, 0.65);
  margin: 2em auto;
  border-radius: 1px;
  padding: 1.25rem;
  font-family: "quadon", sans-serif;
  color: #005EB8; }
  .options-container button {
    text-align: center;
    border-radius: 0px;
    background: transparent;
    border: 2px solid rgba(0, 94, 184, 0.8);
    color: rgba(0, 94, 184, 0.8);
    margin: 1em; }
  .options-container .btn-block {
    width: 50%;
    display: inline; }

.stopword-container {
  background: rgba(255, 255, 255, 0.65);
  padding: 1.25rem; }
  .stopword-container .stop-word-header {
    font-family: "gentona-bold", "quadon";
    color: #005EB8;
    text-align: center; }
  .stopword-container .stopword-table {
    font-family: "titling", sans-serif;
    font-size: 0.85em;
    background: #dee2e6; }
  .stopword-container .panel.panel-default {
    margin: 2rem;
    width: 100%;
    background: #dee2e6; }

.documentation-wrapper-container,
documentation-api-container {
  margin-bottom: 40px; }
  .documentation-wrapper-container.container,
  documentation-api-container.container {
    background: rgba(255, 255, 255, 0.75);
    padding: 20px; }
  .documentation-wrapper-container h2,
  documentation-api-container h2 {
    color: #fff; }

#instructor-distribution .instructor-distribution-container,
#instructor-distribution .instructor-comment-container {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  margin: 20px; }

#instructor-distribution .instructor-distribution-container .panel-heading {
  background: rgba(67, 215, 197, 0.8);
  text-align: center;
  color: white; }

#instructor-distribution .instructor-distribution-container .panel-body {
  background: #dee2e6;
  padding: 0.75rem 0rem 0.75rem 1.5rem;
  font-size: 0.85rem;
  color: #9B9B9B; }

#instructor-distribution .instructor-distribution-container .instructor-side-table table tbody tr th {
  color: rgba(67, 215, 197, 0.8);
  padding: 0.45rem; }

#instructor-distribution .instructor-distribution-container .instructor-side-table table td {
  font-size: 0.85em;
  color: #9B9B9B;
  padding: 0.45rem; }

#instructor-distribution .dist-subtitle {
  text-align: center;
  font-family: "gentona-bold", sans-serif;
  color: rgba(0, 94, 184, 0.8); }

#instructor-distribution .instructor-comment-container table thead tr.table-heading {
  font-size: 0.85em;
  color: #868e96; }

#instructor-distribution .instructor-comment-container table thead tr th {
  padding: 0.45rem; }

#instructor-distribution .instructor-comment-container table tbody tr th {
  color: rgba(67, 215, 197, 0.8);
  padding: 0.45rem; }

#instructor-distribution .instructor-comment-container table td {
  font-size: 0.85em;
  color: #9B9B9B;
  padding: 0.45rem; }

#topic-distribution .topic-distribution-container,
#topic-distribution .topic-comment-container {
  background: rgba(255, 255, 255, 0.85); }

#topic-distribution .topic-distribution-container {
  padding-bottom: 1.25em; }

#topic-distribution .dist-subtitle {
  text-align: center;
  font-family: "gentona-bold", sans-serif;
  color: rgba(0, 94, 184, 0.8); }

#topic-distribution .panel-heading {
  background: rgba(67, 215, 197, 0.8);
  text-align: center;
  color: white; }

#topic-distribution .panel-body {
  background: #dee2e6;
  padding: 0.75rem 0rem 0.75rem 1.5rem;
  font-size: 0.85rem;
  color: #9B9B9B; }

#topic-distribution .topic-comment-container {
  margin-top: 1.25em;
  padding-top: 1em;
  margin-bottom: 3.5em; }
  #topic-distribution .topic-comment-container table thead tr.table-heading {
    font-size: 0.85em;
    color: #868e96; }
  #topic-distribution .topic-comment-container table thead tr th {
    padding: 0.45rem; }
  #topic-distribution .topic-comment-container table tbody tr th {
    color: rgba(67, 215, 197, 0.8);
    padding: 0.45rem; }
  #topic-distribution .topic-comment-container table td {
    font-size: 0.85em;
    color: #9B9B9B;
    padding: 0.45rem; }

#drop-zone {
  width: 100%;
  height: 200px;
  top: 10px;
  border: 2px dashed rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  position: relative;
  line-height: 180px;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.3); }
  #drop-zone input {
    /*Important*/
    position: absolute;
    /*Important*/
    cursor: pointer; }
  #drop-zone.mouse-over {
    border: 2px dashed rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5); }

.btn.btn-success {
  color: #F9F9F9;
  border-radius: 2px;
  background-color: #868e96;
  border-color: #868e96; }

.btn .btn-submit, .btn .btn-primary {
  color: #F9F9F9;
  border-radius: 2px;
  background-color: #43D7C5;
  border-color: #43D7C5; }

.btn.btn-danger {
  color: #F9F9F9;
  border-radius: 2px;
  border-color: #E03C31;
  background-color: #E03C31; }

body {
  font-size: 16px; }

p {
  font-family: 'titling'; }

.smaller {
  font-size: 0.7rem; }

.o-hidden {
  overflow: hidden !important; }

.z-0 {
  z-index: 0; }

.z-1 {
  z-index: 1; }

#mainNav .navbar-brand {
  color: #005EB8;
  font-family: 'quadon';
  text-align: center;
  font-size: 26px;
  padding: 8px; }

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh; }
  #mainNav .navbar-collapse .navbar-nav .nav-item .nav-cadet-link-collapse {
    background: #2C2C33; }
  #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
    color: #005EB8; }
  #mainNav .navbar-collapse .navbar-sidenav {
    background: rgba(60, 60, 40, 0.75); }
    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
      float: right;
      content: '\f107';
      font-family: 'FontAwesome'; }
    #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
      content: '\f105'; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
      padding-left: 0; }
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
      #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
        display: block;
        padding: 0.5em 0; }
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
        #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
          text-decoration: none; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
      padding-left: 1em; }
    #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
      padding-left: 2em; }
  #mainNav .navbar-collapse .sidenav-toggler {
    display: none; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    position: relative;
    min-width: 45px; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
      float: right;
      width: auto;
      content: '\f105';
      border: none;
      font-family: 'FontAwesome'; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
      position: absolute;
      top: 5px;
      left: 21px;
      font-size: 10px; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
    content: '\f107'; }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    overflow: hidden;
    max-width: none;
    text-overflow: ellipsis; }

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
    font-family: 'quadon';
    text-align: center;
    font-size: 26px; }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none; }
    #mainNav .navbar-collapse .navbar-sidenav {
      position: absolute;
      top: 0;
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 56px; }
      #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
        width: 250px;
        color: #005EB8;
        padding: 0; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
          padding: 1em; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
          padding-left: 0;
          list-style: none; }
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
          #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
            width: 250px; }
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
            #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
              padding: 1em; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
          padding-left: 2.75em; }
        #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
          padding-left: 3.75em; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      min-width: 0; }
      #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
        width: 24px;
        text-align: center; }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      max-width: 300px; } }

#mainNav.fixed-top {
  background: #F9F9F9;
  padding: 0px; }
  #mainNav.fixed-top .navbar-sidenav {
    background: rgba(60, 60, 40, 0.75); }
  @media (min-width: 992px) {
    #mainNav.fixed-top .navbar-sidenav {
      height: calc(200vh - 112px);
      background: rgba(60, 60, 40, 0.75); }
    #mainNav.fixed-top .sidenav-toggler {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: calc(100vh - 56px); }
      #mainNav.fixed-top .sidenav-toggler > .nav-item {
        width: 250px;
        padding: 0; }
        #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
          padding: 1em; } }
  #mainNav.fixed-top.navbar-dark .navbar-collapse .navbar-sidenav {
    background: rgba(60, 60, 40, 0.75); }
  #mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: #005EB8; }
    #mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
      color: #adb5bd; }
  #mainNav.fixed-top.navbar-light .sidenav-toggler {
    background-color: #dee2e6; }
    #mainNav.fixed-top.navbar-light .sidenav-toggler a i {
      color: rgba(0, 0, 0, 0.5); }

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px; }
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
    width: 55px !important; }

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH'; }

#mainNav.static-top .sidenav-toggler {
  display: none; }

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex; } }

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH'; }

.content-wrapper {
  overflow-x: hidden;
  background: transparent; }
  @media (min-width: 992px) {
    .content-wrapper {
      margin-left: 250px; } }

#sidenavToggler i {
  font-weight: 800; }

.navbar-sidenav-tooltip.show {
  display: none; }

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px; } }

body.sidenav-toggled .navbar-sidenav {
  overflow-x: hidden;
  width: 55px; }
  body.sidenav-toggled .navbar-sidenav .nav-link-text {
    display: none; }
  body.sidenav-toggled .navbar-sidenav .nav-item,
  body.sidenav-toggled .navbar-sidenav .nav-link {
    width: 55px !important; }
    body.sidenav-toggled .navbar-sidenav .nav-item:after,
    body.sidenav-toggled .navbar-sidenav .nav-link:after {
      display: none; }

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #F9F9F9;
  font-family: "gentona-book"; }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
    color: #adb5bd; }

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
  color: inherit;
  font-family: "gentona-book"; }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    color: #868e96;
    background: inherit; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
      color: #adb5bd; }

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd; }

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
      color: white !important;
      background-color: #495057; }
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
        color: white; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
      background: #343a40; } }

@media only screen and (max-width: 991px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    background: #005EB8;
    color: #F9F9F9;
    padding-left: 1rem; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
      color: #adb5bd; }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    color: #F9F9F9;
    font-family: "gentona-book"; }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
      color: #868e96;
      background: #E5E2E0; }
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
        color: #adb5bd; } }

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }

@media (min-width: 576px) {
  .card-columns {
    column-count: 1; } }

@media (min-width: 768px) {
  .card-columns {
    column-count: 2; } }

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2; } }

.card-login {
  max-width: 25rem; }

.card-register {
  max-width: 40rem; }

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px; }
  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - 250px); } }

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px); } }
