{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="CADET Test Website, JHU, Fall 2017">
  <meta name="author" content="Team KAJJA">
  <title>CADET Dashboard - V1 </title>
  {% include 'base/css.html' %}
</head>
<body class="fixed-nav sticky-footer" id="page-top">
  <div class="bg-container">
    <!-- Calling Navigation Partial -->
    {% include 'base/navigation.html' %}
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/dashboard">Home</a>
          </li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <hr>
        <div style="height: 1000px;">
          <!-- call content here -->
          {% block content %}{% endblock %}
        </div>
      </div>
    <!-- end container-fluid-->
    <!-- end content-wrapper-->

    <!-- Calling Footer Partial -->
    {% include 'base/footer.html' %}
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
      {% include 'base/js.html' %}
    </div><!-- end content-wrapper -->
  </div><!-- end bg-container -->
</body>
</html>
