{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
<div id="instructor-distribution">
	<h1 class="main-heading"> Instructor Distribution </h1>
    <div class="instructor-distribution-container">
      <div class='row'>
        <div class='col-sm-12 col-lg-8' url-endpoint='/api/chart/data/'>
          <div class='row'>
            <div class='col-xs-12 col-lg-12'>
              <h4 class="dist-subtitle">Instructor Distribution</h4>
              <canvas id="instructor-dist-chart"></canvas>
            </div>
          </div>
        </div>
    	<div class='instructor-side-bar col-sm-12 col-lg-4'>
    		<div class="panel panel-default">
    		  <!-- Default panel contents -->
    		  <div class="panel-heading">Instructors</div>
    		  <div class="panel-body" style="max-height: 120px;overflow-y: scroll;">
    		    <!-- Table -->
      		  <table class="instructor-side-table">
      		  	<tbody> 
      		  		<tr> 
      		  			<td>Birdy Birdface</td> 
      		  		</tr> 
      		  		<tr> 
      		  			<td>Mark Otto</td> 
      		  		</tr> 
      		  		<tr> 
      		  			<td>Jacob Thornton</td> 
      		  		</tr> 
      		  		<tr> 
      		  			<td>Larry the Bird</td> 
      		  		</tr> 
      		  		<tr> 
      		  			<td>Luther Rex</td> 
      		  		</tr> 
      		  			<td>Mr. Beans</td> 
      		  		</tr> 
      		  	</tbody> 
      		  </table>
    		  </div>
    		</div>
    	</div>
      </div>
    </div>
    <div class="instructor-comment-container">
      <div class='row'>
        <div class='col-xs-12 col-lg-12'>
          <h5 class="dist-subtitle">Instructor Comments</h5>
          <div class="instructor-table-container" data-example-id="hoverable-table">
            <table class="table table-hover">
              <thead>
                <tr class="table-heading">
                  <th>Course Name </th>
                  <th>Comment</th>
                  <th>More</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">602.423</th>
                  <td>A lot more social and happy than I thought it would be. Instructor are willing to help you out, and she's very friendly </td>
                  <td>See All</td>
                </tr>
                <tr>
                  <th scope="row">603.232</th>
                  <td>Great professor, especially for explaining algorithms. Still exceptionally challenging, but if you put in the work you will succeed.</td>
                  <td>See All</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Grade deflation is very real and the competition is tough. Why does she do this? </td>
                  <td>See All</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- script chartjs lib -->
<script>
function drawInstructorDist(instructorLabel, posArr, neuArr, negArr) {
  var ctx = document.getElementById('instructor-dist-chart').getContext('2d');
  var instructorChart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
      labels: instructorLabel,
      datasets: [{
        label: "Positive",
        backgroundColor: "rgba(0, 141, 142, 0.7)",
        data: posArr
        },
        {
        label: "Neutral",
        backgroundColor: "rgb(155, 155, 155)",
        data: neuArr
        },
        {
        label: "Negative",
        backgroundColor: "rgba(224, 60, 49, 0.7)",
        data: negArr
        }]
    },
    // Configuration options go here
    options: {
      scales: {
      yAxes: [{
        scaleLabel: {
        display: true,
        labelString: 'Number of Comments'
        },
    }],
      xAxes: [{
        scaleLabel: {
        display: true,
        labelString: 'Instructor Full Name'
      }
    }],
    }
  }
  });
}
var endpoint = '/api/chart/instructor/data/'
  var instructor_name = []
  var pos_arr = [], neu_arr = [], neg_arr = []
  $.ajax({
    method: 'GET',
    dataType: 'json',
    url: endpoint,
    success: function(data){
      for (var i = 0; i < data.instructor.length; i++){
        console.log("~~~ inside for loop ---")
        instructor_name.push(data.instructor[i].instructor_name);
        sentiments = data.instructor[i].sentiment_count;
        for ( key in sentiments) {
          pos_arr.push(sentiments[key].pos);
          neu_arr.push(sentiments[key].neu);
          neg_arr.push(sentiments[key].neg);
        }
      }
      drawInstructorDist(instructor_name, pos_arr, neu_arr, neg_arr);
    },
    error: function(error_data){
      console.log(error_data);
    }
  });
</script>
{% endblock %}
