{% extends 'dashboard/base.html' %}
{% block content %}

<!-- HTML for upload options. All the objects are handled in
	Django views and Model
-->
<div class="options-container container">
	<h2 class="text-center"> Upload Options </h2>
	<form method="post">
		{% csrf_token %}
		<table border="1">
			{{ form }}
		</table>
		<button type="submit">Submit</button>
	</form>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
			{{ message }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock %}