{% extends 'dashboard/base.html' %}
{% block content %}
        <div class="stopword-container container">
            <h1 class="stop-word-header"> Stop Word </h1>
            <div class="row">
            	<div class="panel panel-default">
            	  <div class="panel-body" style="max-height: 400px;overflow-y: scroll;">
            	  <table class="stopword-table">
            	  	<tbody> 
            	  		<tr> 
            	  			<td>Birdy Birdface</td> 
            	  		</tr> 
            	  		<tr> 
            	  			<td>Mark Otto</td> 
            	  		</tr> 
            	  		<tr> 
            	  			<td>Jacob Thornton</td> 
            	  		</tr> 
            	  		<tr> 
            	  			<td>Larry the Bird</td> 
            	  		</tr> 
            	  		<tr> 
            	  			<td>Luther Rex</td> 
            	  		</tr> 
            	  			<td>Mr. Beans</td> 
            	  		</tr> 
            	  	</tbody> 
            	  </table>
            	  </div>
            	</div>
            </div>
        </div>
{% endblock %}

