{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
  <div id="topic-distribution">
    <h1 class="main-heading">Topic Distribution </h1>
    <div class="topic-distribution-container container">
      <div class="row">
        <div class='col-sm-12 col-md-8 col-lg-10 col-lg-offset-1'url-endpoint='/api/chart/topic/data/'>
          <h3 class="text-center"> Topic Distribution </h3>
          <canvas id="topic-dist-chart-ajax"></canvas>
        </div>
      </div>
    </div>
   <div class="topic-comment-container">
      <div class='row'>
        <div class='col-xs-12 col-lg-12'>
          <h5 class="dist-subtitle">Words to Topics</h5>
          <div class="topic-table-container" data-example-id="hoverable-table">
            <table class="table table-hover">
              <thead>
                <tr class="table-heading">
                  <th>Topic ID</th>
                  <th>Words mapped for Topic ID</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>engineering, challenging, best </td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- chartjs lib, with ajax call -->
<script>
  function drawTopicDistribution(topicLabel, posArr, neuArr, negArr) {
    var ctx = document.getElementById('topic-dist-chart-ajax').getContext('2d');
    var topicChart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: topicLabel,
        datasets: [{
          label: "Positive",
          backgroundColor: "rgba(0, 141, 142, 0.7)",
          data: posArr
          },
          {
          label: "Neutral",
          backgroundColor: "rgb(155, 155, 155)",
          data: neuArr
          },
          {
          label: "Negative",
          backgroundColor: "rgba(224, 60, 49, 0.7)",
          data: negArr
          }]
      },
      // Configuration options go here
      options: {
        scales: {
        yAxes: [{
          scaleLabel: {
          display: true,
          labelString: 'Number of Comments'
          },
          ticks: {
            beginAtZero: true   // minimum value will be 0.
          }
      }],
        xAxes: [{
          scaleLabel: {
          display: true,
          labelString: 'Topic ID',
          ticks: {
            beginAtZero: true   // minimum value will be 0.
          }
        }
      }],
      }
    }
    });
  }
  // you can view this json at http://localhost:8000/api/chart/topic/data/
  var endpoint = '/api/chart/topic/data/'
  $.ajax({
    method: 'GET',
    dataType: 'json',
    url: endpoint,
    success: function(data){
      // if the response is a succes, then trigger the code below
      var topic_label_arr = [];
      var pos_arr = [], neu_arr = [], neg_arr = []
      for (var i = 0; i < data.topic.length; i++){
        topic_label_arr.push("Topic " + data.topic[i].topic_id);
        sentiments = data.topic[i].sentiment_count;
        for ( key in sentiments) {
          pos_arr.push(sentiments[key].pos);
          neu_arr.push(sentiments[key].neu);
          neg_arr.push(sentiments[key].neg);
        }
      }
      // save the parsed arrays with label, and sentiments as inputs
      // to call this function to draw the chart
      drawTopicDistribution(topic_label_arr, pos_arr, neu_arr, neg_arr);

      // fire second ajax call to parse topic-word mapping
      parseTopicWordJSON();
      
    },
    error: function(error_data){
      console.log("Topic Word Mapping Error: " + error_data);
    }
  });

  function parseTopicWordJSON() {
    // after grabbing chart, fire another AJAX call to grab Topic-to-Word JSON
    // in another request
    $.ajax({
      method: 'GET',
      dataType: 'json',
      url: '/api/chart/topic/word/all/',
      success: function(data_topic_word){

        var topicIdLabelArr = []
        var wordsArr= []
        console.log("inside parseTopicWordJSON");
        console.log(data_topic_word);

        for (var i = 0; i < data_topic_word.topic.length; i++){
          topicIdLabelArr.push(data_topic_word.topic[i].topic_id);
          wordsArr.push(data_topic_word.topic[i].words); 
        }
        // fire function to update TopicWord parsed data to HTML template
        writeTopicWordToHTML(topicIdLabelArr, wordsArr);
      },
      error: function(error_data){
        console.log("Topic Chart Error: " + error_data);
      }
    });
  }

  function writeTopicWordToHTML(arrID, wArr) {
    rowHTML = $('#topic-distribution .topic-comment-container table tbody');
    var updateHTML = [];
    var len = arrID.length;
    for (var i = 0; i < len; i++){
      // console.log('inside for loop');
      // console.log('arr id' + arrID[i]);
      updateHTML.push('<tr><th scope="row">' + arrID[i] + '</th><td>' + wArr[i] + '</td></tr>'); 
    }
    rowHTML.html(updateHTML);
  }

</script>
</div>
{% endblock %}