{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
  <div id="topic-distribution">
    <h1 class="main-heading">Topic Distribution </h1>
    <div class="topic-distribution-container container">
      <div class="row">
        <div class='col-sm-12 col-md-8 col-lg-10 col-lg-offset-1'url-endpoint='/api/chart/topic/data/'>
          <h3 class="text-center"> Topic Distribution </h3>
          <canvas id="topic-dist-chart-ajax"></canvas>
        </div>
      </div>
    </div>
   <div class="topic-comment-container">
      <div class='row'>
        <div class='col-xs-12 col-lg-12'>
          <h5 class="dist-subtitle">Words to Topics</h5>
          <div class="topic-table-container" data-example-id="hoverable-table">
            <table class="table table-hover">
              <thead>
                <tr class="table-heading">
                  <th>Topic ID</th>
                  <th>Words mapped for Topic ID</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>social, happy, people, friendly, success, science, engineering, challenging, best </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>great, school, medicine, exceptional, network, competition, curve, formal, boom, bang</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>deflation, low, tough, crazy, mean, stress, attack, ignore, work, little</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
<!-- chartjs lib, with ajax call -->
<script>
  function drawTopicDistribution(topicLabel, posArr, neuArr, negArr) {
    var ctx = document.getElementById('topic-dist-chart-ajax').getContext('2d');
    var topicChart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'bar',
      // The data for our dataset
      data: {
        labels: topicLabel,
        datasets: [{
          label: "Positive",
          backgroundColor: "rgba(0, 141, 142, 0.7)",
          data: posArr
          },
          {
          label: "Neutral",
          backgroundColor: "rgb(155, 155, 155)",
          data: neuArr
          },
          {
          label: "Negative",
          backgroundColor: "rgba(224, 60, 49, 0.7)",
          data: negArr
          }]
      },
      // Configuration options go here
      options: {
        scales: {
        yAxes: [{
          scaleLabel: {
          display: true,
          labelString: 'Number of Comments'
          },
          ticks: {
            beginAtZero: true   // minimum value will be 0.
          }
      }],
        xAxes: [{
          scaleLabel: {
          display: true,
          labelString: 'Topic ID',
          ticks: {
            beginAtZero: true   // minimum value will be 0.
          }
        }
      }],
      }
    }
    });
  }
  var endpoint = '/api/chart/topic/data/'
  $.ajax({
    method: 'GET',
    dataType: 'json',
    url: endpoint,
    success: function(data){
      var topic_label_arr = [];
      var pos_arr = [], neu_arr = [], neg_arr = []
      for (var i = 0; i < data.topic.length; i++){
        topic_label_arr.push("Topic " + data.topic[i].topic_id);

        sentiments = data.topic[i].sentiment_count;
        for ( key in sentiments) {
          pos_arr.push(sentiments[key].pos);
          neu_arr.push(sentiments[key].neu);
          neg_arr.push(sentiments[key].neg);
        }
      }
      drawTopicDistribution(topic_label_arr, pos_arr, neu_arr, neg_arr);
    },
    error: function(error_data){
      console.log(error_data);
    }
  });

  $.ajax({
    method: 'GET',
    dataType: 'json',
    url: '/api/chart/topic/word/all',
    success: function(data){
      var topicIdLabelArr = []
      var wordsArr = []
      for (var i = 0; i < data.topic.length; i++){
        topicIdLabelArr.push("Topic " + data.topic[i].topic_id);
        words = push(data.topic[i].words); 
      }
      console.log("topicIdLabelArr: " + topicIdLabelArr);
      console.log("words: " + words);
    },
    error: function(error_data){
      console.log(error_data);
    }
  });
</script>
</div>
{% endblock %}