<html>
<head>
  <title>CADET File Upload</title>
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script type="text/javascript" src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  <style>
#drop-zone {
    width: 600px;
    height: 200px;
    position:absolute;
    top:10px;
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 20px;
    text-align: center;
    position: relative;
    line-height: 180px;
    font-size: 20px;
    color: rgba(0,0,0,.3);
}
    #drop-zone input {
        /*Important*/
        position: absolute;
        /*Important*/
        cursor: pointer;
    }

    /*Important*/
    #drop-zone.mouse-over {
        border: 2px dashed rgba(0,0,0,.5);
        color: rgba(0,0,0,.5);
    }
  </style>
</head>
<body>
<h1>
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-3">CADET File Uploader</h2>
      <p>Select the files to upload</p>
      <form method="post" enctype="multipart/form-data" action="?X-Progress-ID=test">
        {% csrf_token %}

        <label class="btn btn-success" for="id_file" onclick="addFile()">
          <input type="file" name="file" id="id_file" required="" style="display:none;" multiple>
          <span>Add files...</span>
        </label>
        <button type="submit" class="btn btn-primary">Upload Files</button>
        <h2>
          <progress id="progressBar" data-progress_bar_uuid="test" style="width:50%" value="0" max="100"></progress>
        </h2>
        <div id="drop-zone">
          Drop files here...
          <div id="clickHere">
            <input type="file" name="file" style="opacity:0;" id="id_file" multiple/>
          </div>
        </div>
      </form>
</h1>

<h3>File Browser</h3>
<div class="table-responsive">
  <table id= "myTable" class="table table-striped">
    <thead>
    <tr>
      <th>File Name</th>
      <th>File Size</th>
      <th><button type="button" class="btn btn-danger" onclick="deleteRows()" >Delete Files</button></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>


<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/progress_bar.js' %}"></script>
<script>upload_progress_url = "/upload/upload_progress"</script>

<script>
  function addFile() {
  var table = document.getElementById("myTable");
  var row = table.insertRow(-1);
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var Upfile1 = document.getElementById("id_file");
  cell1.innerHTML = Upfile1.files.item(0).name;
  cell2.innerHTML = (Upfile1.files.item(0).size/1048576).toFixed(2) + " MB";
  cell3.innerHTML = Upfile1.files.item(0).type;
  }

  function deleteRows() {
  for(var i=document.getElementById("myTable").rows.length;i>1;i--) {
  document.getElementById("myTable").deleteRow(i-1);
  }
  document.getElementById("file").value = "";
  }


</script>

<script>
  $(function () {
  var dropZoneId = "drop-zone";
  var mouseOverClass = "mouse-over";

  var dropZone = $("#" + dropZoneId);
  var ooleft = dropZone.offset().left;
  var ooright = dropZone.outerWidth() + ooleft;
  var ootop = dropZone.offset().top;
  var oobottom = dropZone.outerHeight() + ootop;
  var inputFile = dropZone.find("input");
  document.getElementById(dropZoneId).addEventListener("dragover", function (e) {
  e.preventDefault();
  e.stopPropagation();
  dropZone.addClass(mouseOverClass);
  var x = e.pageX;
  var y = e.pageY;

  if (!(x < ooleft || x > ooright || y < ootop || y > oobottom)) {
  inputFile.offset({ top: y - 15, left: x - 100 });
  } else {
  inputFile.offset({ top: -400, left: -400 });
  }

  }, true);
  })
</script>
</body>
</html>


