{% load staticfiles %}

<!-- Core plugin JavaScript-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}">
</script>
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}">
</script>

<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
</script>

<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}">
</script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin.min.js' %}"></script>
